<header>
    <h1 class="site-title">Snippr</h1>
    <img class="logo" src="/Logo.svg" alt="Put out logo here">
    
    <nav class="navbar">
        <ul class="navlist">
            <li class="navitem" id="nav-home"><a href="/">H o m e</a></li>
            <li class="navitem" id="nav-search"><a href="#">S e a r c h</a></li>
            <li class="navitem" id="nav-create"><a href="/create">C r e a t e</a></li>
            <li class="navitem" id="nav-styleSelect">
                <select id="styleSelect-menu">
                    {{#each this}}
                        {{#if nested}}
                            <optgroup label="{{name}}">
                                {{#each val}}
                                    <option value="{{val}}">{{name}}</option>
                                {{/each}}
                            </optgroup>
                        {{else}}
                            <option value="{{val}}">{{name}}</option>
                        {{/if}}
                    {{/each}}
                </select>
            </li>
        </ul>
    </nav>
</header>
