<article class="snip" id="{{id}}">
    <div class="snip-title">
        <a href="/single/{{id}}">{{title}}</a>
    </div>
    <div class="snip-author">
        <a href="#">{{author}}</a>
    </div>
    <div class="snip-code">
        {{> codeblock this.code}}
    </div>
    <div class="snip-details">
        {{description}}
    </div>
    <button class="comment-button">comment</button>
    <div class="react-buttons">
        <button id="button-like">♥ {{react.like}}</button>
        <button id="button-funny">☻ {{react.funny}}</button>
        <button id="button-cool">♫ {{react.cool}}</button>
        <button id="button-wat">? {{react.wat}}</button>
    </div>
    <div class="comments">      {{! Only pass a few high priority / recent comments for the }}
        {{#each comments}}      {{! main page. More can be shown when the page for this }}
            {{> comment this}}  {{! particular snip is requested}}
        {{/each}}
    </div>
</article>